{%  extends 'accounts/main.html' %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% load static %}

{% block content %}

<div class="row">
	{% for car in cars %}
	<div class="col-lg-5">
		<img class= "img-fluid" alt = "Responsive image" src = "{{car.imageURL}}">
		<div class="box-element product">
			<h6><strong>{{car.name}}</strong></h6>
			<hr>
			<a class = "btn btn-outline-secondary add-btn" href = "{% url 'create_reservation'%}" >Reserve</a>
			<a class = "btn btn-outline-secondary" href = "#">View </a>
			<h4 style = "display : inline-block;float: right">€{{car.category.price_per_day|floatformat:2}}/Day </h4>
		</div>
	</div>
	{%endfor%}
</div>

{% endblock content %}