            
            
        <div class = "row">
            {% for i in protection %}
            <div class="col-lg-4">
                <button id = "btnShow" type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal{{i.id}}">{{i.name}}</button>

                <div class="modal fade" id="myModal{{i.id}}"  role="dialog" aria-labelledby="myModalLabel">

                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">

                                <h4 class="modal-title" id="myModalLabel"><strong>{{i.name}}</strong></h4>

                            </div>
                            <div class="modal-body">

                                <div class="modal-body">{{i.description}}</div>

                            </div>

                            <div class="modal-footer">
                            
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            {%endfor%}
        </div>   
           