

<style>
  .hello-msg{

    font-size: 18px;
    color: #fff;
    margin-right: 20px

  }

</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Bozhkov Cars</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'car' %}">Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'station' %}">Stations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_reservation' %}">Book a car</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_reservations' %}">My reservations</a>
      </li>
      {%if request.user.is_staff%}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'search' %}">Reservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'search1' %}">Customers</a>
      </li>
      {%endif%}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account' %}">Settings</a>
      </li>
    </ul>
  </div>

    <span class = "hello-msg">Hello, {{request.user.customer.name}} </span>
    <span > <a class = "hello-msg" href = "{% url 'logout'%}">Logout </a> </span>
</nav>