<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{%  extends 'accounts/main.html' %}




{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<div class="row down">
	<div class="col-md-6">
    <h3> Reservation Form</h3>
		<div class="form-group">
      <form method="post" id="reservationForm" name = "reservation" >
      {% csrf_token %}
      {{ form.as_p }}
      <input class = "btn btn-success btn-bg" id = "submit" type="submit" value="Submit">
      </form>
      <div id = "main" class = "form-control"> </div>
      {%  include 'accounts/modal.html' %}
    </div>
  </div>
</div>



<script>
    $("#id_city").change(function () {
  
      var cityId = $(this).val(); 

      $.ajax({                       
        url: '/ajax/load-stations/',               
        data: {
          'city': cityId       
        },
        success: function (data) {   
          $("#id_station").html(data); 
        }
      });

    });
</script>

<script>
    $("#id_city1").change(function () {
  
      var cityId = $(this).val();  

      $.ajax({                       
        url: '/ajax/load-stations1/',                   
        data: {
          'city': cityId       
        },
        success: function (data) {   
          $("#id_station1").html(data);  
        }
      });

    });
</script>

<script>
    config = {
    enableTime: true,
    altInput: true,
    minDate: "today",
    minTime: "08:00",
    maxTime: "17:30",
    dateFormat: "Y-m-d H:i",
    
    }
    flatpickr("input[type = datetime-local]" , config)
</script>
   

<script>
    $('#submit').prop('disabled', true);
    $("#dropoff").change(function(){
        var start = $("#pickup").val();
        var end = $("#dropoff").val(); 

        let startDate = new Date(start);
        let endDate = new Date(end);

        if (startDate.getTime() >= endDate.getTime() ){
          alert('Enter a valid date');         
          $('#submit').prop('disabled', true);

        }else{
          $('#submit').prop('disabled', false);

        }

    });

    $("#pickup").change(function(){
        var start = $("#pickup").val();
        var end = $("#dropoff").val(); 

        let startDate = new Date(start);
        let endDate = new Date(end);

        if (startDate.getTime() >= endDate.getTime() ){
          alert('Enter a valid date');          
          $('#submit').prop('disabled', true);

        }else{
          $('#submit').prop('disabled', false);

        }

    });



</script>

<script>
    $("#dropoff").change(function(){
      var start = $("#pickup").val();
      var end = $("#dropoff").val();

      const oneDay = 24 * 60 * 60 * 1000;
    
      let startDate = new Date(start);
      let endDate = new Date(end);

      const diffDays = Math.round(Math.abs((startDate-endDate)/oneDay));
      console.log(diffDays)
  
      var div = document.createElement("div");
      document.getElementById("main").innerHTML = "";
      div.innerHTML = 'Days : '+ diffDays;
      document.getElementById("main").appendChild(div); 
      
    });

    $("#pickup").change(function(){
      var start = $("#pickup").val();
      var end = $("#dropoff").val();

      const oneDay = 24 * 60 * 60 * 1000;

      let startDate = new Date(start);
      let endDate = new Date(end);

      const diffDays = Math.round(Math.abs((startDate-endDate)/oneDay));

      var div = document.createElement("div");
      document.getElementById("main").innerHTML = "";
      div.innerHTML = 'Days : '+ diffDays;
      document.getElementById("main").appendChild(div);
    });
    

</script>

{%endblock%}
