<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{%  extends 'accounts/main.html' %}




{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

<div class="row down">
	<div class="col-md-6">
    <h3> Reservation Form</h3>
		<div class="form-group">
      <form method="post" id="reservationForm" name = "reservation" >
      {% csrf_token %}
      {{ form.as_p }}
      <input class = "btn btn-success btn-bg" id = "submit" type="submit" value="Submit" />
      </form>
      <div id = "main" class = "form-control"> </div>
      {%  include 'accounts/modal.html' %}
    </div>
  </div>
</div>


<script>
$("#submit").prop('disabled' , true);
var form = document.querySelector('form');
form.addEventListener('change' , function(){
    var start = $("#pickup").val();
    var end = $("#dropoff").val(); 
    let startDate = new Date(start);
    let endDate = new Date(end);

    var required = $('input,textarea,select').filter('[required]:visible');
    var allRequired = true;
    required.each(function(){
      if($(this).val() == ''){
        allRequired = false;
      }
      });

      if(allRequired && startDate.getTime() < endDate.getTime() ){
        $("#submit").prop('disabled' , false);
      }else{
        $("#submit").prop('disabled' , true);

      }


    });


</script>


<script>
    $("#submit").click(function(){
      swal("Success","Your reservation was succesfully made . In a few minutes you will receive an email with all the booking details" , "success"); 

    });
</script>
<script>
    $("#id_city").change(function () {
  
      var cityId = $(this).val(); 

      $.ajax({                       
        url: '/ajax/load-stations/',               
        data: {
          'city': cityId       
        },
        success: function (data) {   
          $("#id_station").html(data); 
        }
      });

    });
</script>

<script>
    $("#id_city1").change(function () {
  
      var cityId = $(this).val();  

      $.ajax({                       
        url: '/ajax/load-stations1/',                   
        data: {
          'city': cityId       
        },
        success: function (data) {   
          $("#id_station1").html(data);  
        }
      });

    });
</script>

<script>
    config = {
    enableTime: true,
    altInput: true,
    minDate: "today",
    minTime: "08:00",
    maxTime: "17:30",
    dateFormat: "Y-m-d H:i",
    
    }
    flatpickr("input[type = datetime-local]" , config)
</script>
   

<script>
    
    $("#dropoff").change(function(){
        var start = $("#pickup").val();
        var end = $("#dropoff").val(); 

        let startDate = new Date(start);
        let endDate = new Date(end);

        if (startDate.getTime() >= endDate.getTime() ){
          swal("Error","Drop off needs to be after the pick up" , "warning");  
                
          

        }
    });

    $("#pickup").change(function(){
        var start = $("#pickup").val();
        var end = $("#dropoff").val(); 

        let startDate = new Date(start);
        let endDate = new Date(end);

        if (startDate.getTime() >= endDate.getTime() ){
          swal("Error","Pick up needs to be before the drop off" , "warning");
                  
          

        }
    });

</script>

<script>
    $("#dropoff").change(function(){
      var start = $("#pickup").val();
      var end = $("#dropoff").val();

      const oneDay = 24 * 60 * 60 * 1000;
    
      let startDate = new Date(start);
      let endDate = new Date(end);

      const diffDays = Math.round(Math.abs((startDate-endDate)/oneDay));

      if(document.getElementById("pickup").value.length != 0){
        var div = document.createElement("div");
        document.getElementById("main").innerHTML = "";
        div.innerHTML = 'Days : '+ diffDays;
        document.getElementById("main").appendChild(div);
      }
      
    });

     $("#pickup").change(function(){
      var start = $("#pickup").val();
      var end = $("#dropoff").val();

      const oneDay = 24 * 60 * 60 * 1000;
    
      let startDate = new Date(start);
      let endDate = new Date(end);

      let diffDays = Math.round(Math.abs((startDate-endDate)/oneDay));
      console.log(diffDays)

      if(document.getElementById("dropoff").value.length != 0){
        var div = document.createElement("div");
        document.getElementById("main").innerHTML = "";
        div.innerHTML = 'Days : '+ diffDays;
        document.getElementById("main").appendChild(div);
      }
  
    });

</script>





{%endblock%}
