{%  extends 'accounts/main.html' %}
{% load static %}

{% block content %}

{% include 'accounts/status.html' %}



<!-- Demo header-->
<section class="py-5 header text-center">
    <div class="container py-4">
        <header>
            <h1 class="display-4">If service counts, count on us!</h1>
            <p class="font-italic text-muted mb-1">As your competent partner for rental cars, our top priority is to make you mobile. With good service and attractive prices we know how to convince. But the best thing you can do is to get an impression by yourself</p>
            
                
            </p>
        </header>
    </div>
</section>


<section class="pb-5">
    <div class="container text-center">
        <!-- Masonry grid -->
        <div class="row">
            <!-- Grid sizer -->
            <div class="row"></div>
            
            <!-- Grid item -->
            <div class="col-lg-4 col-md-6 grid-item mb-4">
                <a href = "/cars"> <img class= "img-fluid" alt = "Responsive image" src="{% static 'images/golf.png'  %}" alt=""> </a>
                <h2 class="h4">Cars</h2>
                <p class="small text-muted font-italic" >Find our wild variety of cars</p>
            </div>
            
            <!-- Grid item -->
            <div class="col-lg-4 col-md-6 grid-item mb-4">
                <a href = "/stations"> <img class= "img-fluid" alt = "Responsive image" src="{% static 'images/golf.png'  %}" alt=""> </a>
                <h2 class="h4">Stations</h2>
                <p class="small text-muted font-italic">You can book a car in more than 10 stations across Germnay</p>
            </div>
            
            <!-- Grid item -->
            <div class="col-lg-4 col-md-6 grid-item mb-4">
                <a href = "/create_reservation"> <img class= "img-fluid" alt = "Responsive image" src="{% static 'images/golf.png'  %}" alt=""> </a>
                <h2 class="h4">Book a car now</h2>
                <p class="small text-muted font-italic">Make a reservation</p>
            </div>
            
            <!-- Grid item -->
            <div class="col-lg-4 col-md-6 grid-item mb-4">
                <a href = "/user_reservations"> <img class= "img-fluid" alt = "Responsive image" src="{% static 'images/golf.png'  %}" alt=""> </a>
                <h2 class="h4">My reservations</h2>
                <p class="small text-muted font-italic">View your reservations</p>
            </div>
            
            <!-- Grid item -->
            <div class="col-lg-4 col-md-6 grid-item mb-4">
                <a href = "/account"> <img class= "img-fluid" alt = "Responsive image" src="{% static 'images/golf.png'  %}" alt=""> </a>
                <h2 class="h4">Settings</h2>
                <p class="small text-muted font-italic">Customize your settings</p>
            </div>
            
        </div>
    </div>
</section>


{%endblock%}